<div class="payment">
      <div class="payment-form">
        <form action="">
          <h2>Payment Form</h2>

          <!-- <P>ACCOUNT</P> -->
          <div class="name">
            <div class="First-name">
              <div class="add-icon">
                <i class="fa-solid fa-user"></i>
              </div>
              <input type="text" placeholder="First Name" />
            </div>
            <div class="First-name">
              <div class="add-icon">
                <i class="fa-solid fa-user"></i>
              </div>
              <input type="text" placeholder="Last Name" />
            </div>
          </div>

          <div class="name">
            <div class="First-name email">
              <div class="add-icon">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <input type="email" placeholder="Enter your email" />
            </div>
          </div>
        </form>
      </div>

      <div class="payment-form">
        <form action="">
          <h2>Payment Details</h2>

          <select name="Payment" id="payment-option">
            <!-- <option value="Credit Card"> Credit Card</option>
            <option value="Paypal"></option> -->
          </select>
        </form>
      </div>
    </div>


    css

    .payment{
      display: flex;
      justify-content: space-evenly;
    }
    
    .payment-form{
      height: 100%;
      border: 2px solid brown;
      padding: 50px;
      margin: 20px;
      background-color: azure;
    }
    
    .payment-form h2{
      border: 2px solid gray;
      padding: 5px;
      text-align: center;
      color: yellowgreen;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .payment-form input{
      width: 100%;
      padding: 0.3rem;
      /* border-radius: none; */
      font-size: 1.1rem;
      margin-left: 10px;
    }
    
    .name{
      display: flex;
      justify-content: space-evenly;
      margin: 20px;
    }
    
    .First-name{  
      display: flex;
      border: 2px solid yellowgreen;  
      align-items: center;
      justify-content: space-between;
      background-color: yellowgreen;
      width: 50%;
      margin-right: 5px;
    }
    
    .add-icon{
      margin-left: 5px;
    }
    
    .last-name, .First-name:hover{
      border: 2px solid gold;
      background-color: gold;
    }
    
    .email{
      width: 100%;
    }